---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/components/Hero.astro"
import MyName from "@/components/MyName.astro"
import About from "@/components/About.astro"
import MyWorks from "@/components/MyWorks.astro"
import Contact from "@/components/Contact.astro"
import Footer from "@/components/Footer.astro";
import Tools from "@/components/Tools.astro";
---

<Layout>
	<a href="https://buymeacoffee.com/albertsobreo">
		<div class="transition ring-0 hover:ring-2 ring-amber-500 fixed bg-stone-900 border-stone-600 top-5 right-5 md:top-10 md:right-10 px-2 rounded-full py-1.5 border flex items-center justify-center gap-2">
			<img src="/coffee.webp" alt="coffee" class="w-8 rounded-full aspect-square">
			<span>Buy me a coffee!</span>
		</div>
	</a>
	<Hero/>
	<MyName/>
	<MyWorks/>
	<Tools/>
	<Contact/>
	<Footer/>
</Layout>

