<div class="px-6 md:px-24 lg:px-48 xl:px-64 2xl:px-96 w-full flex flex-col items-start gap-16 py-8">
  <div class="flex flex-col">
    <div id="container2"
         class="outfit flex gap-0 text-4xl mg:text-6xl lg:text-8xl tracking-tighter font-semibold text-wrap">
      <span id="works" class="text-stone-400">My Works</span>
      <span id="underscore__" class="text-amber-500">_</span>
    </div>
  </div>

  <div class="w-full grid grid-cols-1 gap-48 outfit">
    <div class="flex flex-col gap-1">
      <img src="/AralKubo.png" class="rounded-2xl border border-stone-700">
      <div class="flex flex-col gap-2">
        <span class="text-amber-500 font-medium text-4xl">Aral Kubo</span>
        <p class="text-stone-300">Aral Kubo amplifies the productivity of teachers by taking away administrative work and giving them tools like AI to generate learning materials.</p>
      </div>
    </div>


    <div class="flex flex-col gap-1">
      <img src="/Agdayo.png" class="rounded-2xl border border-stone-700">
      <div class="flex flex-col gap-2">
        <span class="text-amber-500 font-medium text-4xl">Agdayo</span>
        <p class="text-stone-300">Agdayo provides travelers a tool to plan their itineraries with the help of AI and you can invite your friends to share those planned trips!</p>
      </div>
    </div>

    <div class="flex flex-col gap-1">
      <img src="/mindhue.png" class="rounded-2xl border border-stone-700">
      <div class="flex flex-col gap-2">
        <span class="text-amber-500 font-medium text-4xl">Mindhue Technologies</span>
        <p class="text-stone-300">I created the landing site for Mindhue Technologies. I showcased the company's achievements and works. I also created the founders page that highlights the achievement of each founder.</p>
      </div>
    </div>


    <div class="flex flex-col gap-1">
      <img src="/alemba.png" class="rounded-2xl border border-stone-700">
      <div class="flex flex-col gap-2">
        <span class="text-amber-500 font-medium text-4xl">Alemba Nano</span>
        <p class="text-stone-300">I was tasked to redevelop and redesign Alemba vFire's Nano. It is a lighter version of their main ITSM Software.</p>
      </div>
    </div>


    <div class="flex flex-col gap-1">
      <img src="/pos.png" class="rounded-2xl border border-stone-700">
      <div class="flex flex-col gap-2">
        <span class="text-amber-500 font-medium text-4xl">POS System</span>
        <p class="text-stone-300">This POS system is a web application I developed during my free time. It is a way to practice my skills and learn new techniques and technologies.</p>
      </div>
    </div>
  </div>

  <div>
    <span class="italic text-stone-500 text-2xl">and many more<span class="text-amber-500">...</span></span>
  </div>
</div>

<script>
  const under = document.getElementById('underscore__')
  const name = document.getElementById('works')
  const container = document.getElementById('container2')

  const txt = 'My Works'
  let index = 0
  let text = []
  let typingInterval:any
  let blinkInterval:any

  // Function to start the typing animation
  const startTyping = () => {
    if (typingInterval) return; // Prevent multiple intervals
    typingInterval = setInterval(() => {
      if (!name || index >= txt.length) {
        clearInterval(typingInterval)
        return
      }
      text.push(txt.split('')[index])
      index++
      name.innerHTML = text.join('')
    }, 100)
  }

  // Function to start the blinking cursor
  const startBlinking = () => {
    if (blinkInterval) return; // Prevent multiple intervals
    blinkInterval = setInterval(() => {
      if (!under) return
      if (under.classList.contains('text-white/0')) {
        under.classList.remove('text-white/0')
      } else {
        under.classList.add('text-white/0')
      }
    }, 600)
  }

  // Create an Intersection Observer instance
  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        // If the element is in view, start the animations
        startTyping()
        startBlinking()
      } else {
        // If the element is out of view, stop the animations
        clearInterval(typingInterval)
        clearInterval(blinkInterval)
        typingInterval = null
        blinkInterval = null
      }
    })
  })

  // Start observing the container element
  if (container) {
    observer.observe(container)
  }
</script>
